
.product {
    padding-top: 60%;
}

.product h3,
.description {
    color: #fff;
}

.product h3 {
    font-size: 2rem;
}

.product p {
    font-size: 1.3rem;
}

.price {
    color: red;
}

@media screen and (max-width: 600px) {
    .product {
        padding-top: 20%;
    }
}
