
#head-title {
    background-color: #262626;
    padding-top: 5%;
    padding-bottom: 1%;
}

#head-title h1 {
    color: white;
    font-size: 3rem;
    padding: 3rem 0;
}

#breakfast {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../../utils/img/breakfast-background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../utils/img/breakfast-background.jpg);
}

#lunch {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../../utils/img/lunch-background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../utils/img/lunch-background.jpg);
}

#dinner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../../utils/img/dinner-background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../utils/img/dinner-background.jpg);
}

#dessert {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../../utils/img/dessert-background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../utils/img/dessert-background.jpg);
}

#breakfast,
#lunch,
#dinner,
#dessert {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.background-product {
    background-color: #FFCD58;
}

.menu-title {
    background-color: #FFCD58;
}

.menu-title h2 {
    margin-bottom: 0;
    font-size: 2.5rem;
}

#background-menu-title {
    background-color: #262626;
}

@media screen and (max-width: 600px) {
    #head-title {
        padding-top: 4rem;
    }
}
