
#allcontacts h1 {
    padding: 5%;
}

#phone img {
    width: 100%;
    margin-top: 5%;
}

#allcontacts ion-icon {
    font-size: 2rem;
}

#allcontacts p {
    font-size: 1.3rem;
}

#allcontacts .hov:hover {
    cursor: pointer;
}
