
#head {
    right: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
}

#head h2 {
    padding-top: 15%;
}

#head h1 {
    font-size: 5rem;
}

#top-button {
    background-color: #FFCD58;
    width: 150px;
    height: 40px;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

#top-button:hover {
    background-color: #ffc233;
}

#head video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 5rem;
    z-index: -1;
    filter: brightness(50%);
}

/* SECOND_SECTION */

#second-section {
    align-items: center;
    margin: 5% auto;
}

#second-section p {
    font-size: 1.3rem;
}

#second-img img {
    width: 50%;
}

#story-button {
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}

#story-button h3 {
    color: black;
    font-size: 1.5rem;
}

/* MENU-SECTION */

#menu-section {
    background-color: #000;
}

#menu-section h2,
#menu-section h3,
#menu-section p {
    color: #ffffff;
}

#menu-section p {
    font-size: 1.2rem;
}

#arrow-right {
    color: #ffffff;
}

#menu-button {
    text-decoration-color: #ffffff;
    text-decoration-thickness: 1px;
}

/* FOOD SECTION */

#food-card {
    display: flex;
    flex-wrap: wrap;
}

.food-div {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-div p {
    position: absolute;
    width: 80%;
    color: #fff;
    top: 10%;
    font-size: 4rem;
    text-align: center;
}

.food-div img {
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

/* MEDIA */

@media screen and (min-width: 2500px) {
    #head h2 {
        padding-top: 17%;
        font-size: 4rem;
    }

    #head h1 {
        font-size: 6rem;
    }

    #top-button {
        width: 250px;
        height: 70px;
        margin-top: 40px;
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 1024px) {
    #head h1 {
        font-size: 2.5rem;
    }

    #head h2 {
        font-size: 2rem;
    }

    #head > div {
        padding-top: 15%;
    }

    #head video {
        display: none;
    }

    #head {
        background-image: -webkit-gradinet(linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))), url(home.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(home.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        min-width: 100wh;
    }

    #second-section {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    #second-img img {
        width: 100%;
    }

    .food-div {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #head > div {
        padding-top: 50%;
    }
}
