
#head {
    background-image: -webkit-gradinet(linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))), url(home.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(home.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100wh;
}

#head h2 {
    padding-top: 15%;
}

#head h1 {
    font-size: 5rem;
}

#top-button {
    background-color: #FFCD58;
    border: 0;
    font-size: 1.125rem;
    text-transform: uppercase;
    padding: 17px 60px 16px;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#top-button:hover {
    background-color: #ffc233;
}

#top-button:active {
    transition: all 0.5s;
    transform: scale(0.9);
}

#top-reservation-button {
    background-color: transparent;
    border: 1px solid #FFCD58;
    color: #FFCD58;
    font-size: 1.125rem;
    text-transform: uppercase;
    padding: 17px 20px 16px;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#top-reservation-button:hover {
    background-color: #ffc233;
    color: black;
}

#top-reservation-button:active {
    transition: all 0.5s;
    transform: scale(0.9);
}

#head h2,
#head h1,
#top-button,
#top-reservation-button {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* SECOND_SECTION */

#second-section {
    align-items: center;
    margin: 2.3rem auto;
}

#second-section p {
    font-size: 1.3rem;
}

#second-img img {
    width: 50%;
}

#story-button {
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}

#story-button button {
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 1.125rem;
    text-transform: uppercase;
    padding: 17px 40px 16px;
    margin: 20px;
}

#story-button button:hover {
    background-color: rgb(24, 24, 24);
}

/* MENU-SECTION */

#menu-section {
    background-color: #000;
}

#menu-section .dish-card {
    padding: 3rem;
}

#menu-section h2,
#menu-section h3,
#menu-section p {
    color: #ffffff;
}

#menu-section p {
    font-size: 1.2rem;
}

#arrow-right {
    color: #ffffff;
}

#menu-section button {
    background-color: #fff;
    border: none;
    color: #000;
    font-size: 1.125rem;
    text-transform: uppercase;
    padding: 17px 20px 16px;
    margin: 20px;
}

#menu-section button:hover {
    background-color: rgb(230, 230, 230);
}

/* FOOD SECTION */

#food-card {
    display: flex;
    flex-wrap: wrap;
}

.food-div {
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-div p {
    position: absolute;
    width: 80%;
    color: #fff;
    top: 10%;
    font-size: 2.5rem;
    text-align: center;
}

.food-div img {
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

/* MEDIA */

@media screen and (min-width: 2500px) {
    #head h2 {
        padding-top: 17%;
        font-size: 4rem;
    }

    #head h1 {
        font-size: 6rem;
    }

    /* #top-button {
        width: 250px;
        height: 70px;
        margin-top: 40px;
        font-size: 1.7rem;
    } */
}

@media screen and (max-width: 1024px) {
    #head h1 {
        font-size: 2.5rem;
    }

    #head h2 {
        font-size: 2rem;
    }

    #head > div {
        padding-top: 15%;
    }

    #second-section {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    #second-img img {
        width: 100%;
    }

    .food-div {
        width: 50%;
    }

    .food-div p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    #head > div {
        padding-top: 50%;
    }

    #menu-section .dish-card {
        padding: 0;
    }
}
