
#allstory h1 {
    padding: 5%;
}

#food {
    display: flex;
    justify-content: space-around;
    margin: 5% auto;
    flex-wrap: wrap;
}

#food img {
    width: 33.3%;
    filter: brightness(75%);
}

#food img:hover {
    filter: brightness(100%);
}

#header-img {
    width: 100%;
}

#paragraphs p {
    font-size: 1.5rem;
}

#stage {
    width: 50%;
}

@media screen and (max-width: 600px) {

    #food img {
        width: 100%;
        height: auto;
    }
}
