
#allstory h1 {
    padding: 3rem 0;
    font-size: 5rem;
}

#allstory h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#allstory h4 {
    font-size: 2rem;
    margin: 5rem;
}

#header-img {
    width: 100%;
}

.images-gallery img {
    width: 100%;
}

#stage {
    width: 50%;
    margin: 5rem 0;
}

@media screen and (max-width: 600px) {

    #allstory h1 {
        font-size: 3.5rem;
    }

    #stage {
        width: 100%;
        margin: 3rem 0;
    }
}
