
#allstory h1 {
    padding: 5%;
}

#allstory h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#allstory h4 {
    font-size: 2rem;
    margin: 5rem;
}

#food {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    flex-wrap: wrap;
}

#food img {
    width: 33.3%;
    filter: brightness(75%);
}

#food img:hover {
    filter: brightness(100%);
}

#header-img {
    width: 100%;
}

#paragraphs p {
    font-size: 1.5rem;
}

#stage {
    width: 50%;
    margin: 5rem 0;
}

@media screen and (max-width: 600px) {

    #stage {
        width: 100%;
        margin: 3rem 0;
    }

    #food {
        margin-top: 3rem;
    }

    #food img {
        width: 100%;
    }
}
